<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-B">
    <meta http-equiv="X-UA-Compatible" content=IF-Edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="relative">
        <style>

        </style>

        <h1>AUTOMANIJA</h1>

    </div>
</head>

<body>
    <p alignItems="right">
        <br>
        <input type="button" value="PRISIJUNGTI" />
        <div class="btn-group">
            <button style="margin: 120px">APIE MUS</button>
            <button style="margin: 120px">MŪSŲ AUTO FOTO</button>
            <button style="margin: 120px">MES DALINAMĖS</button>
            <button style="margin: 140px">MŪSŲ GARAŽIUKAI</button>
        </div>

</body>



<h2>AUTOMOBILIŲ MĖGĖJŲ VIETA</h2>




<app-test></app-test>

<br>
<br>

<button class="mygtukas" (click)="import()">Duomenu mygtukas</button>

<div id="pagrindinis">
    <div class="vartotojai">
        <app-vartotojai></app-vartotojai>
    </div>
    <div class="susirasinejimas">
        <div class="chat">
            <app-pokalbiai></app-pokalbiai>
        </div>
        <div class="zinute">
            <app-zinute></app-zinute>
        </div>
    </div>

</div>