<div>
    <h1> Registracija</h1>
    <form [formGroup]="UserForm" (ngSubmit)="postUser()">
        <div class="vardas">
            <input id="na-me2" name="name" placeholder="Vardas" formControlName="name">
        </div>
        <div>
            <input id="e-mail" name="email" placeholder="Email" formControlName="email" [email]="true">
        </div>
        <div>
            <input id="pass-word" name="password" placeholder="Slaptazodis" formControlName="password" type="password">
        </div>
        <div class="mygtukas">
            <button type="submit" [disabled]="!UserForm.valid">Registruotis</button>
                  <!-- aprasytas slaptazodzio atkurimas -->
            <a (click)="slaptazodzioAtkurimas()" class="atkurimas">Pamiršai slaptažodį?</a>
            <div *ngIf="atkurti==true">
                <input id="e-mail-atkurimas" name="emailAtkurimas" placeholder="Įveskite savo Email"
                    formControlName="emailAtkurimas" [email]="true">
                <a (click)="siustiAtkurimui()" class="atkurimas">Siusti priminima</a>
            </div>
        </div>
    </form>
</div>