.vartotojai {
    display: inline-block;
    width: 200px;
    margin: 5% auto;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 1em;
    line-height: 1.5em;
    background: hsla(67, 95%, 95%, 1);
    border: solid 5px hsla(0, 95%, 35%, 1);
    margin-left: 20px;
}

.userNo {
    color: hsla(0, 95%, 35%, 1);
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 20px;
    line-height: 30px;
}

.userYes {
    color: rgb(67, 228, 19);
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 20px;
    line-height: 30px;
}