<!--
<ul *ngIf="users">
    <option *ngFor="let x of users">{{x.name}}</option>
</ul>
-->
<form [formGroup]="UserForm" method="post" [action]="usersUrl" (ngSubmit)="newUser($event)">
    <label for="na-me">Vardas</label><input id="na-me" name="name" formControlName="name">
    <label for="e-mail">Email</label><input id="e-mail" name="email" formControlName="email" [email]="true"> 
    <label for="pass-word">Password</label><input id="pass-word" name="password" formControlName="password" type="password">
    <button type="submit" [disabled]="!UserForm.valid">Naujas</button>
</form>

<form method="post" [action]="usersUrl" enctype="application/x-www-form-urlencoded" target="hidden"
    (submit)=onSubmit($event)>
    <label for="na-me1">Vardas</label><input id="na-me1" name="name">
    <label for="e-mail1">Email</label><input id="e-mail1" name="email" type="email">
    <label for="pass-word1">Password</label><input id="pass-word1" name="password" type="password">
    <button type="submit">Naujas</button>
</form>
<form method="post" [action]="loginUrl" enctype="application/x-www-form-urlencoded" target="hidden"
    (submit)=onSubmit($event)>
    <label for="e-mail2">Email</label><input id="e-mail2" name="email" type="email">
    <label for="pass-word2">Password</label><input id="pass-word2" name="password"  type="password">
    <button type="submit">Login</button>
</form>
<iframe name="hidden"></iframe>