<div class="navbar">
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a href="kontaktai"><span class="spot"></span>Kontaktai</a>
    </div>

  </div>
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a href=""><span class="spot"></span>Pagrindinis</a>
    </div>

  </div>
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a href="registracija"><span class="spot"></span>Registracija</a>
    </div>

  </div>

  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a href="test"><span class="spot"></span>Test</a>
    </div>

  </div>
</div>