<div class="navbar">
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a routerLink="kontaktai"><span class="spot"></span>Kontaktai</a>
    </div>

  </div>
  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a routerLink=""><span class="spot"></span>Pagrindinis</a>
    </div>
  </div>

  <app-prisijungimas></app-prisijungimas>

  <div class="svg-wrapper">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
    </svg>
    <div id="text">
      <a routerLink="registracija"><span class="spot"></span>Registracija</a>
    </div>
  </div>

</div>