.zinute{
    display: inline-block;
    width: 600px;
    height: 200px;
    margin-top: 5px;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 1em;
    line-height: 1.5em;
    background: hsla(67, 95%, 95%, 1);
    border: solid 5px hsla(0, 95%, 35%, 1); 
}

.mygtukas{
    width: 30%;
    padding: 1em;
    background-color:#CFB784;
    -webkit-appearance: none;
    outline: 0;
    border: solid 5px hsla(0, 95%, 35%, 1);
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.mygtukas:hover{
    background-color: hsla(0, 95%, 35%, 1);   
}
