*{
  margin: 0vh,0vw;
}


.kontaktaiStilius{
  display: flex;
  flex-direction: column;
  background-image: url( '~src/assets/kontaktai_retro.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:resize;
 
}

.virsus{
 size: 300px;
 text-align: center;
}

#vidurys{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-content: space-between;
 margin-bottom: 10px;    
}

.apacia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  background-color:transparent;
  margin: 0px;
  padding: 10%;
 
}

.vardai,.parasytiZinute,.kontaktai{
  background: rgba(233, 177, 47, 0.431)
}

.vardai,h3,p,label{
  font-weight: bold;
  color: #000000;
}
  
.parasytiZinute{
    display:flex;
    flex-direction: column;
    align-content: center;
}

#zinute-kont{
  box-sizing: border-box;
  width: 300px;
  height: 200px;
}

#siusti:hover{
  cursor:pointer;
  background-color:rgb(238, 143, 18);
  color: aliceblue;
}

#siusti{
  margin: 10px;
  font-size: 20px;
 border-radius: 10px;
}

#zemelapis{
 box-sizing: border-box;
  height: 20pt;
  width: 20pt;
}

.eilerastis{
  color: antiquewhite;
}
.eilerastisPasleptas{
 display: none;
box-sizing: content-box;
}

.eilerastis:hover+.eilerastisPasleptas{
position:absolute;
color:tomato;
font-size: 15px;
display: block;
background-color: whitesmoke;
}


@media (max-width: 575.98px) { 
 .zemelapis{
   display: none;
 }
 #zinute-kont{
  box-sizing: border-box;
  width: 200px;
  height: 150px;
}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .zemelapis{
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
  .zemelapis{
    display: none;
  }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  
 }


@media (min-width: 1200px) { 

}