<span>
    <div class="kontaktaiStilius">

        <div class="virsus">
        </div>

        <div id="vidurys">
            <div class="vardai">
                <h3>JBIT-1</h3>
                <p>Jonas 1 <a href="mailto:jonas@gmail.com">jonas@gmail.com</a></p>
                <p>Nerijus <a href="mailto:nerijus@gmail.com">nerijus@gmail.com</a></p>
                <p>Raimondas <a href="mailto:raimondas@gmail.com">raimondas@gmail.com</a></p>
                <p>Arnas <a href="mailto:arnas@gmail.com">arnas@gmail.com</a></p>
                <p>Egidijus <a href="mailto:egidijus@gmail.com">egidijus@gmail.com</a></p>
                <p>Virginijus <a href="mailto:virginijus@gmail.com">virginijus@gmail.com</a></p>
                <p>Žydrūnas 7<a href="mailto:zydrunas@gmail.com">zydrunas@gmail.com</a></p>
            </div>

            <div class="zemelapis">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5345.510251885649!2d21.09570480508805!3d55.71488505706317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e4dbdb354f073f%3A0x121b2efa4deab475!2sLietuvos%20j%C5%ABr%C5%B3%20muziejus!5e0!3m2!1slt!2slt!4v1634495391050!5m2!1slt!2slt"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div>
                <form class="parasytiZinute" #zinuteIsKontaktu="ngForm" (ngSubmit)="siustiZinute(zinuteIsKontaktu)">
                    <input type="text" id="na-me-kont" name="nameKont" placeholder="Vardas" ngModel>
                    <input type="email" id="e-mail-kont" name="emailKont" placeholder="Email" ngModel>
                    <textarea type="text" id="zinute-kont" name="zinuteKont" placeholder="Parašykite žinutę..."
                        ngModel></textarea>
                    <button type='submit' id="siusti">Siųsti</button>
                </form>
            </div>
        </div>

        <div class="apacia">
            <div>
            </div>
            <div class="kontaktai">
                <p style="size: 20px;">KONTAKTAI</p>
                <p>Telefonas 9876345</p>
                <p>Adresas: Smiltynės g. 3, Klaipėda 93100</p>
                <p>El. paštas: <a href="mailto:delfinas@gmail.com">delfinas@gmail.com</a></p>
            </div>
            <div class="eilerastis">ODĖ</div>
            <div class="eilerastisPasleptas">
                <pre>
                Šitą AUTO man likimas dovanojo
                Pilką stogą, minkštą sostą ir ratus,
                Ji rūdim auksinėm kas pavasarį liepsnoja,
                Man jos grožio kiek yra, tiek ir pakanka
                Jos kalba mane užbūrė amžinai,
                Mano AUTO man – vieninteliai namai.
            </pre>
            </div>
        </div>
    </div>
</span>