<div id="kontaktaiStilius">


    <div class="virsus">

    </div>

    <div id="vidurys">
        <div class="vardai">
            <h3>JBIT-1</h3>
            <p>Jonas - kuratorius</p>
            <p>Nerijus - 'owner'</p>
            <p>Raimondas - 'scrum master'</p>
            <p>Arnas - 'developer'</p>
            <p>Egidijus - 'developer'</p>
            <p>Virginijus - 'developer'</p>
            <p>Žydrūnas - 'developer'</p>

        </div>

        <div>
            <a href="https://www.google.com/maps/place/Lietuvos+j%C5%ABr%C5%B3+muziejus/@55.7132095,21.101429,3704m/data=!3m1!1e3!4m5!3m4!1s0x46e4dbdb354f073f:0x121b2efa4deab475!8m2!3d55.7166677!4d21.0997655">Adresas</a>
        </div>

        <div>
            <form class="parasytiZinute">
                <label for="na-me-kont">Vardas</label><input id="na-me-kont" name="nameKont">
                <label for="e-mail-kont">Email</label><input id="e-mail-kont" name="emailKont">
                <label for="zinute-kont">Parašykite žinutę</label><input id="zinute-kont" name="zinuteKont">
                <button (click)=sisutiIsKontaktu() id="siusti">Siųsti</button>
            </form>
        </div>

    </div>

    <div class="apacia">

        <div>
            <div>

            </div>
            <div>
                <p style="size: 20px;">KONTAKTAI</p>
                <p>Telefonas 9876345</p>
                <p>Adresas: Smiltynės g. 3, Klaipėda 93100</p>
                <p>El. paštas: delfinas@gmail.com</p>
            </div>
            <div>

            </div>

        </div>

    </div>
</div>