*{
  margin: 0vh,0vw;
 
}

.kontaktaiStilius{
  display: flex;
  flex-direction: column;
  background-image: url( '~src/assets/kontaktai_retro.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 
}

.virsus{
  margin-top: 5%;
 size: 300px;
 text-align: center;
}

#vidurys{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-content: space-between;
 margin-bottom: 10px;    
}

.apacia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  background-color:transparent;
  margin: 0px;
  padding: 10%;
 
}

.vardai,.parasytiZinute,.kontaktai{
  background-color:#CFB784,03;
}

.vardai,h3,p,label,a{
  font-weight: bold;
  color: white;
}
  a:hover{
    color: #C56824;
    background: #eee5c7;
   
  }

.parasytiZinute{
  display:flex;
  flex-direction: column;
  align-content: center;
}
input{
  width: 300px;
  display: block;
  padding: 20px;
  font-size: 14px;
  -webkit-appearance: none;
  border: 1px solid;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s;
}
input:hover,#zinute-kont:hover{
  background: #EADEB8;
  
}
#zinute-kont{
  box-sizing: border-box;
  width: 300px;
  height: 200px;
}

#siusti:hover{
  background-color: #C56824;  
}

#siusti{
  margin-top: 12px;
    width: 100%;
    padding: 20px;
    background-color:#CFB784;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

#zemelapis{
  box-sizing: border-box;
  height: 20pt;
  width: 20pt;
}

.eilerastis{
  color: antiquewhite;
}
.eilerastisPasleptas{
 display: none;
box-sizing: content-box;
}

.eilerastis:hover+.eilerastisPasleptas{
position:absolute;
color:tomato;
font-size: 15px;
display: block;
background-color: whitesmoke;
}


@media (max-width: 575.98px) { 
 .zemelapis{
   display: none;
 }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .zemelapis{
    display: none;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) { 
  .zemelapis{
    display: none;
  }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  
 }


@media (min-width: 1200px) { 
  
}