


<div class="pokalbiai">
   
        <ul *ngIf="messages">
            <div *ngFor="let x of messages" [title]="x.body">
    
                <div class="data"><span>{{x.date}}</span></div>
                <div class="tekstas"><span>{{x.body}}</span></div>
                <div class="vardas"><span class="input" role="textbox" contenteditable>{{ x.user }}</span></div>
                <hr>
            
    <!--
                <div class="vardas"><span class="input" role="textbox" contenteditable>{{ getUserName(x.user) }}</span></div>
               
                <div class="tekstas"><span [innerHTML]="doURL(x.body)">{{ x.body }}</span></div>
                <hr>
                -->
            </div>
        </ul>
    </div>